body{
  background-color: #82CAFA;
}



.container{
  height: 175px;
  width: 175px;
  margin: 1px;
}

div.col {
  background-color: red;
  float: left;
}

.row {
    width: 175px;
    height: 50px;

}

.cell {
    width: 53px;
    height: 50px;
    background-color: pink;
    float: left;
    margin: 2px;
}
}

